<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>File Manager</title>
  </head>
  <body>
    <form action="/login" method="get" target="">
      <label for="token">Url: </label>
      <input type="text" id="url" value="{{ url }}" name="url">
      <label for="token">Authentication Token: </label>
      <input type="text" id="token" value="lidlut-tabwed-pillex-ridrup" name="token">
      <input type="submit" value="login">
    </form>
  </body>
</html>
